<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.medicine.mapper.TbOrderMapper" >
  <resultMap id="BaseResultMap" type="com.medicine.pojo.TbOrder" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="orderno" property="orderno" jdbcType="VARCHAR" />
    <result column="ordertime" property="ordertime" jdbcType="VARCHAR" />
    <result column="orderamt" property="orderamt" jdbcType="VARCHAR" />
    <result column="receiverman" property="receiverman" jdbcType="VARCHAR" />
    <result column="reveiverphone" property="reveiverphone" jdbcType="VARCHAR" />
    <result column="reveiveraddress" property="reveiveraddress" jdbcType="VARCHAR" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="sellerid" property="sellerid" jdbcType="INTEGER" />
    <result column="orderstatus" property="orderstatus" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, orderno, ordertime, orderamt, receiverman, reveiverphone, reveiveraddress, uid, 
    sellerid, orderstatus
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.medicine.pojo.TbOrderExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_order
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.medicine.pojo.TbOrderExample" >
    delete from tb_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.medicine.pojo.TbOrder" >
   <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
          SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_order (id, orderno, ordertime, 
      orderamt, receiverman, reveiverphone, 
      reveiveraddress, uid, sellerid, 
      orderstatus)
    values (#{id,jdbcType=INTEGER}, #{orderno,jdbcType=VARCHAR}, #{ordertime,jdbcType=VARCHAR}, 
      #{orderamt,jdbcType=VARCHAR}, #{receiverman,jdbcType=VARCHAR}, #{reveiverphone,jdbcType=VARCHAR}, 
      #{reveiveraddress,jdbcType=VARCHAR}, #{uid,jdbcType=INTEGER}, #{sellerid,jdbcType=INTEGER}, 
      #{orderstatus,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.medicine.pojo.TbOrder" >
    insert into tb_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderno != null" >
        orderno,
      </if>
      <if test="ordertime != null" >
        ordertime,
      </if>
      <if test="orderamt != null" >
        orderamt,
      </if>
      <if test="receiverman != null" >
        receiverman,
      </if>
      <if test="reveiverphone != null" >
        reveiverphone,
      </if>
      <if test="reveiveraddress != null" >
        reveiveraddress,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="sellerid != null" >
        sellerid,
      </if>
      <if test="orderstatus != null" >
        orderstatus,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderno != null" >
        #{orderno,jdbcType=VARCHAR},
      </if>
      <if test="ordertime != null" >
        #{ordertime,jdbcType=VARCHAR},
      </if>
      <if test="orderamt != null" >
        #{orderamt,jdbcType=VARCHAR},
      </if>
      <if test="receiverman != null" >
        #{receiverman,jdbcType=VARCHAR},
      </if>
      <if test="reveiverphone != null" >
        #{reveiverphone,jdbcType=VARCHAR},
      </if>
      <if test="reveiveraddress != null" >
        #{reveiveraddress,jdbcType=VARCHAR},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="sellerid != null" >
        #{sellerid,jdbcType=INTEGER},
      </if>
      <if test="orderstatus != null" >
        #{orderstatus,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.medicine.pojo.TbOrderExample" resultType="java.lang.Integer" >
    select count(*) from tb_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_order
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.orderno != null" >
        orderno = #{record.orderno,jdbcType=VARCHAR},
      </if>
      <if test="record.ordertime != null" >
        ordertime = #{record.ordertime,jdbcType=VARCHAR},
      </if>
      <if test="record.orderamt != null" >
        orderamt = #{record.orderamt,jdbcType=VARCHAR},
      </if>
      <if test="record.receiverman != null" >
        receiverman = #{record.receiverman,jdbcType=VARCHAR},
      </if>
      <if test="record.reveiverphone != null" >
        reveiverphone = #{record.reveiverphone,jdbcType=VARCHAR},
      </if>
      <if test="record.reveiveraddress != null" >
        reveiveraddress = #{record.reveiveraddress,jdbcType=VARCHAR},
      </if>
      <if test="record.uid != null" >
        uid = #{record.uid,jdbcType=INTEGER},
      </if>
      <if test="record.sellerid != null" >
        sellerid = #{record.sellerid,jdbcType=INTEGER},
      </if>
      <if test="record.orderstatus != null" >
        orderstatus = #{record.orderstatus,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_order
    set id = #{record.id,jdbcType=INTEGER},
      orderno = #{record.orderno,jdbcType=VARCHAR},
      ordertime = #{record.ordertime,jdbcType=VARCHAR},
      orderamt = #{record.orderamt,jdbcType=VARCHAR},
      receiverman = #{record.receiverman,jdbcType=VARCHAR},
      reveiverphone = #{record.reveiverphone,jdbcType=VARCHAR},
      reveiveraddress = #{record.reveiveraddress,jdbcType=VARCHAR},
      uid = #{record.uid,jdbcType=INTEGER},
      sellerid = #{record.sellerid,jdbcType=INTEGER},
      orderstatus = #{record.orderstatus,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.medicine.pojo.TbOrder" >
    update tb_order
    <set >
      <if test="orderno != null" >
        orderno = #{orderno,jdbcType=VARCHAR},
      </if>
      <if test="ordertime != null" >
        ordertime = #{ordertime,jdbcType=VARCHAR},
      </if>
      <if test="orderamt != null" >
        orderamt = #{orderamt,jdbcType=VARCHAR},
      </if>
      <if test="receiverman != null" >
        receiverman = #{receiverman,jdbcType=VARCHAR},
      </if>
      <if test="reveiverphone != null" >
        reveiverphone = #{reveiverphone,jdbcType=VARCHAR},
      </if>
      <if test="reveiveraddress != null" >
        reveiveraddress = #{reveiveraddress,jdbcType=VARCHAR},
      </if>
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="sellerid != null" >
        sellerid = #{sellerid,jdbcType=INTEGER},
      </if>
      <if test="orderstatus != null" >
        orderstatus = #{orderstatus,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.medicine.pojo.TbOrder" >
    update tb_order
    set orderno = #{orderno,jdbcType=VARCHAR},
      ordertime = #{ordertime,jdbcType=VARCHAR},
      orderamt = #{orderamt,jdbcType=VARCHAR},
      receiverman = #{receiverman,jdbcType=VARCHAR},
      reveiverphone = #{reveiverphone,jdbcType=VARCHAR},
      reveiveraddress = #{reveiveraddress,jdbcType=VARCHAR},
      uid = #{uid,jdbcType=INTEGER},
      sellerid = #{sellerid,jdbcType=INTEGER},
      orderstatus = #{orderstatus,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>